# --------------------------------------------------------------------------
# PATH
# --------------------------------------------------------------------------
PROJECTS_ROOT_DIR=/your/path/to/projects/dir
DEV_STACK_ROOT_DIR=/your/path/to/projects/dir/docker-dev-stack

# --------------------------------------------------------------------------
# TAGS VERSION FOR DOCKER IMAGES
# --------------------------------------------------------------------------

ELASTIC_TAG=__ELASTIC_TAG__#7.7.0
ELASTIC_ELK_TAG=__ELASTIC_ELK_TAG__#7.7.0
EVENT_STORE_TAG=__EVENT_STORE_TAG__#release-5.0.7
GRAFANA_TAG=__GRAFANA_TAG__#6.2.5
KIBANA_TAG=__KIBANA_TAG__#7.7.0
LOGSTASH_TAG=__LOGSTASH_TAG__#7.7.0
MONGO_TAG=__MONGO_TAG__#4.0.4
MYSQL_TAG=__MYSQL_TAG__#5.7
PHPMYADMIN_TAG=__PHPMYADMIN_TAG__#4.8
PORTAINER_TAG=__PORTAINER_TAG__#1.21.0
RABBITMQ_TAG=__RABBITMQ_TAG__#3.8-management
REDIS_TAG=__REDIS_TAG__#3.2.11
TRAEFIK_TAG=__TRAEFIK_TAG__#v2.2

# --------------------------------------------------------------------------
# PUBLIC PORT MAPPING
# --------------------------------------------------------------------------
### APPLICATION ###
APPLICATION_PUBLIC_PORT=__APPLICATION_PUBLIC_PORT__#80
APPLICATION_PRIVATE_PORT=__APPLICATION_PRIVATE_PORT__#80
APPLICATION_TRAEFIK_LABEL=__APPLICATION_TRAEFIK_LABEL__#application.local

### ELASTIC ###
ELASTIC_PUBLIC_PORT=__ELASTIC_PUBLIC_PORT__#9000
ELASTIC_PRIVATE_PORT=__ELASTIC_PRIVATE_PORT__#9000
ELASTIC_TRAEFIK_LABEL=__ELASTIC_TRAEFIK_LABEL__#elastic.local

### EVENT_STORE ###
EVENT_STORE_PUBLIC_PORT_1=__EVENT_STORE_PUBLIC_PORT_1__#1113
EVENT_STORE_PUBLIC_PORT_2=__EVENT_STORE_PUBLIC_PORT_2__#1113
EVENT_STORE_PRIVATE_PORT_1=__EVENT_STORE_PRIVATE_PORT_1__#2113
EVENT_STORE_PRIVATE_PORT_2=__EVENT_STORE_PRIVATE_PORT_2__#2113
EVENT_STORE_TRAEFIK_LABEL=__EVENT_STORE_TRAEFIK_LABEL__#eventstore.local

### GRAFANA ###
GRAFANA_PUBLIC_PORT=__GRAFANA_PUBLIC_PORT__#3000
GRAFANA_PRIVATE_PORT=__GRAFANA_PRIVATE_PORT__#3000
GRAFANA_TRAEFIK_LABEL=__GRAFANA_TRAEFIK_LABEL__#grafana.local

### KIBANA ###
KIBANA_PUBLIC_PORT=__KIBANA_PUBLIC_PORT__#5601
KIBANA_PRIVATE_PORT=__KIBANA_PRIVATE_PORT__#5601
KIBANA_TRAEFIK_LABEL=__KIBANA_TRAEFIK_LABEL__#kibana.local

### LOGSTASH ###
LOGSTASH_PUBLIC_PORT=__LOGSTASH_PUBLIC_PORT__#5044
LOGSTASH_PRIVATE_PORT=__LOGSTASH_PRIVATE_PORT__#5044
LOGSTASH_TRAEFIK_LABEL=__LOGSTASH_TRAEFIK_LABEL__#logstash.local

### MONGODB ###
MONGODB_PUBLIC_PORT=__MONGODB_PUBLIC_PORT__#27017
MONGODB_PRIVATE_PORT=__MONGODB_PRIVATE_PORT__#27017
MONGODB_TRAEFIK_LABEL=__MONGODB_TRAEFIK_LABEL__#mongodb.local

### MYSQL ###
MYSQL_PUBLIC_PORT=__MYSQL_PUBLIC_PORT__#3306
MYSQL_PRIVATE_PORT=__MYSQL_PRIVATE_PORT__#3306
MYSQL_TRAEFIK_LABEL=__MYSQL_TRAEFIK_LABEL__#mysql.local

### NGINX ###
NGINX_PUBLIC_PORT=__NGINX_PUBLIC_PORT__#3200
NGINX_PRIVATE_PORT=__NGINX_PRIVATE_PORT__#80
NGINX_TRAEFIK_LABEL=__NGINX_TRAEFIK_LABEL__#application.local

### PHPMYADMIN ###
PHPMYADMIN_PUBLIC_PORT=__PHPMYADMIN_PUBLIC_PORT__#8888
PHPMYADMIN_PRIVATE_PORT=__PHPMYADMIN_PRIVATE_PORT__#8888
PHPMYADMIN_TRAEFIK_LABEL=__PHPMYADMIN_TRAEFIK_LABEL__#phpmyadmin.local

### PORTAINER ###
PORTAINER_PUBLIC_PORT=__PORTAINER_PUBLIC_PORT__#9000
PORTAINER_PRIVATE_PORT=__PORTAINER_PRIVATE_PORT__#9000
PORTAINER_TRAEFIK_LABEL=__PORTAINER_TRAEFIK_LABEL__#portainer.local

### RABBIT_MQ ###
RABBIT_MQ_PUBLIC_PORT_1=__RABBIT_MQ_PUBLIC_PORT_1__#15671
RABBIT_MQ_PUBLIC_PORT_2=__RABBIT_MQ_PUBLIC_PORT_2__#15672
RABBIT_MQ_PUBLIC_PORT_3=__RABBIT_MQ_PUBLIC_PORT_3__#5672
RABBIT_MQ_PRIVATE_PORT_1=__RABBIT_MQ_PRIVATE_PORT_1__#15671
RABBIT_MQ_PRIVATE_PORT_2=__RABBIT_MQ_PRIVATE_PORT_2__#15672
RABBIT_MQ_PRIVATE_PORT_3=__RABBIT_MQ_PRIVATE_PORT_3__#5672
RABBIT_MQ_TRAEFIK_LABEL=__RABBIT_MQ_TRAEFIK_LABEL__#rabbitmq.local

### REDIS ###
REDIS_PUBLIC_PORT=__REDIS_PUBLIC_PORT__#6379
REDIS_PRIVATE_PORT=__REDIS_PRIVATE_PORT__#6379
REDIS_TRAEFIK_LABEL=__REDIS_TRAEFIK_LABEL__#redis.local

# --------------------------------------------------------------------------
# ENTRYPOINTS
# --------------------------------------------------------------------------
OMNISTACK_ENTRYPOINT=__OMNISTACK_ENTRYPOINT__#web
OMNISTACK_SECURE_ENTRYPOINT=__OMNISTACK_SECURE_ENTRYPOINT__#web_secure

# --------------------------------------------------------------------------
# SERVICES CREDENTIALS
# --------------------------------------------------------------------------

# Portainer : admin / dev
PORTAINER_ADMIN_PASSWORD="ChangMe"
